@font-face {
  font-family: nexaBold;
  src: url("../fonts/nexa/Nexa\ Bold.otf");
}
@font-face {
  font-family: nexaLight;
  src: url("../fonts/nexa/Nexa\ Light.otf");
}

:root {
  --primaryColor: #2185f5;
  --secondaryColor: rgb(9, 26, 54);
  --body_bg: #f7f9fa;

  --localText: nexaLight;
  --textFont: nexaLight;
  --headlineFont: nexaBold;
  --straightHeadFont: "Barlow Condensed", sans-serif;

  --cursiveTextFont: "Cookie", cursive;
  --cursiveQuote: "Waterfall", cursive;
  --cursiveSimpleHeadFont: "Courgette", cursive;
  --cursiveItalicHeadFont: "Dancing Script", cursive;
  --cursiveItalicTextFont: "Bad Script", cursive;
  --cursiveHeadFont: "Lobster Two", cursive;

  --curveTopFont: "Montserrat Alternates", sans-serif;
  --curveTopSmoothFont: "Handlee", cursive;

  --fourLineFont: "Monoton", cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: var(--primaryColor);
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  color: #212226;
  outline: none;
  font-family: var(--textFont);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

button,
input,
optgroup,
select,
textarea {
  font-family: var(--textFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headlineFont);
  font-weight: 100;
}

p {
  font-family: var(--textFont);
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
  color: #535353;
}

img {
  max-width: 100%;
  height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.clear:after,
.clear:before {
  content: "";
  display: table;
  clear: both;
}

/* ======================================== 
                Buttons 
======================================== */
.btn_stylish {
  text-decoration: none;
  border-radius: 30px;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  padding: 9px 42px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.25px;
  background-color: transparent;
  display: inline-block;
  transition: all ease 0.5s;
  margin-top: 15px;
  outline: none;
}

.btn_stylish:hover {
  background-color: var(--secondaryColor);
  color: #fff;
}

.btn_style {
  text-decoration: none;
  color: #fff;
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 30px;
  outline: none;
  padding: 12px 42px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.25px;
  display: inline-block;
  transition: all ease 0.5s;
  margin-top: 15px;
}

.btn_style:hover {
  color: #fff;
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
  width: 100%;
}

/* Navbar Style Start */

.dropdown_button {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  background-color: #0a0a6d;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow);
  position: relative;
  color: white !important;
}

.btn:focus {
  outline: none;
  box-shadow: none !important;
}

.bx {
  font-size: 1.1rem;
}

.dropdown {
  position: absolute;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.3rem;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  top: 50px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #0a0a6d;
}

.dropdown a svg {
  margin-right: 15px;
}

.dropdown a:hover {
  background-color: var(--color);
  color: #0a0a6d;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
  z-index: 10;
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

/* Navbar Style Start */

/* .banner_section Header section */

.banner_section {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 5rem);
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

.banner_section > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

.banner_section > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: nexaBold;
  font-weight: 900;
  font-size: 62px;
  text-transform: capitalize;
  color: #09096d;
}

.banner_section .content p {
  line-height: 1.3;
  font-size: 34px;
}

.banner_section a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

.banner_section > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

.banner_section > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  /* width: 18.75rem;
  height: 28.125rem;
   */
  /* display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start; */
  /* min-height: 400px; */
  width: 300px !important;
  /* background-color: #0a0a6d; */
  border-radius: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

/* .swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
} */

/* .swiper-slide-active div {
  display: block;
  opacity: 1;
} */

.swiper-slide--one {
  background-color: #0a0a6d;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide--two {
  background-color: #0a0a6d;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide--three {
  background-color: #0a0a6d;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide--four {
  background-color: #0a0a6d;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-slide--five {
  background-color: #0a0a6d;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none !important;
}

.banner_img {
  /* top: -11%; */
  padding: 0 2px;
}

@media screen and (min-width: 48rem) {
  .banner_section {
    display: flex;
    align-items: center;
  }

  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}

.float {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.icon_box {
  max-width: 400px;
  margin-bottom: 50px;
  padding: 15px 15px 15px 50px;
  background: #ffffff;
  border-radius: 0px 20px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.store_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

/* .banner_section Header section */
.green_zone_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.green_zone_shadow {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  max-width: 1320px;
}

.green_zone_heading h2 {
  font-size: 45px;
  text-transform: uppercase;
  color: #0a0a6d;
  font-weight: 600;
  padding: 75px 0px 0px;
  text-align: center;
}

.Creators_section h2 {
  font-size: 45px;
  color: #0a0a6d;
  font-weight: 600;
  padding: 75px 0px 34px;
  text-align: center;
}

.leaves_img {
  width: 100px;
  height: 100px;
}

.img_heading {
  font-size: 24px;
  color: #0a0a6d;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.about_section h2 {
  font-size: 45px;
  color: #0a0a6d;
  font-weight: 600;
  padding: 75px 0px 34px;
  text-align: center;
}

.about_section h3 {
  font-size: 45px;
  color: #0a0a6d;
  font-weight: 600;
}

.about_1st {
  background-color: #e6e7e8;
  padding: 50px 0px;
}

.about_2st {
  padding: 80px 0px 50px;
}
.about_1st h3,
.about_2st h3 {
  text-transform: uppercase;
  padding: 0;
  font-size: 36px;
}

.about_section p {
  color: #09096d;
  margin: 0px;
}

.firstparagrph {
  margin-bottom: 28px !important;
}

.about_text {
  padding-left: 8%;
}

.about_heading {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 100px 0px 15px;
}

.about_heading h2 {
  font-size: 38px;
  color: #09096d;
  font-weight: 600;
  margin-bottom: 0;
}

.about_button {
  background-color: #3a3cc6;
  border: none;
  color: white;
  padding: 10px 40px;
  border-radius: 15px;
  margin-top: 34px;
}

.tab_button {
  display: inline-block;
  background-color: #3a3cc6;
  border: none;
  color: white;
  padding: 12px 60px;
  border-radius: 15px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.tab_button:hover {
  color: #fff;
  background-color: #1d20aa;
}

.about_text h2 {
  font-size: 38px;
  color: #09096d;
  font-weight: 600;
}

.reminder {
  color: #09096d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reminder h6 {
  margin-top: 15px;
  font-weight: 600;
  color: #09096d;
}

.reminder_section {
  padding: 75px 0px;
}

.Reminder_box {
  padding: 20px 35px;
  width: 165px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6365e3;
  border-radius: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.Reminder_box:hover {
  background-color: #6365e3;
}
.Reminder_box:hover img {
  filter: brightness(0) invert(1);
}

.Reminder_box_heading {
  display: flex;
  justify-content: center;
}

.Reminder_box_heading img {
  margin-right: 15px;
  min-width: 40px;
  height: 50px;
}

.Reminder_box_heading h2 {
  font-size: 45px;
  color: #0a0a6d;
  font-weight: 600;
  margin-bottom: 0px;
}

.shop-icon {
  width: 50px;
}

.shop_box_heading {
  display: flex;
  justify-content: center;
  padding: 75px 0px 0px;
}

.shop_box_heading img {
  margin-right: 15px;
  min-width: 40px;
  height: 50px;
}

.shop_box_heading h2 {
  font-size: 45px;
  color: #0a0a6d;
  font-weight: 600;
}

.shop_box_heading p {
  font-size: 16px;
}

.card_button {
  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  background: none;
  position: absolute;
  left: 50%;
  bottom: 30px;
  font-weight: bold;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.card1:hover .card_button {
  border: 2px solid #0303ce;
  background-color: #0303ce;
}

.card2 p {
  margin-bottom: 40px;
}

.card1 h2 {
  color: #09096d;
  font-weight: 600;
  font-size: 24px;
}
.card1 {
  filter: brightness(100%);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* .card1:hover {
  filter: brightness(70%);
} */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    0deg,
    rgba(10, 4, 122, 1) 0%,
    rgba(9, 9, 121, 1) 6%,
    transparent 32%
  );
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 20px;
}
.card1:hover .overlay {
  height: 100%;
}

.card2 h2 {
  color: #09096d;
  font-weight: 600;
  font-size: 28px;
}

/* TabSection style start */
.tab_section {
  margin: 75px 0px 0px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.section_links {
  background-color: #0a0a6d;
  border-radius: 15px;
  min-height: 200px;
}
.warpper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.section_links_btn {
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
}
.section_links_btn a {
  display: inline-block;
}

.tab {
  cursor: pointer;
  padding: 20px 28px 10px;
  display: inline-block;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
}

.tab p {
  margin-top: 10px;
  color: #ccc;
  font-size: 14px;
  font-weight: 600;
}
.w_90 {
  width: 90%;
}
.tab img {
  height: auto;
  width: 50px;
  filter: grayscale(1) contrast(3) blur(1px);
}

.panels {
  background: #0a0a6d;
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  width: 40%;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px 30px;
  border-radius: 15px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

.panel p {
  color: white;
  margin: 0;
}
.pl_30 {
  padding-left: 30px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel,
#six:checked ~ .panels #six-panel {
  display: flex;
  flex-direction: column;
}

#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab {
  background: #3a3cc6;
  color: white;
  border-radius: 0px 0px 25px 25px;
  height: 125px;
}

#one:checked ~ .tabs #one-tab img,
#two:checked ~ .tabs #two-tab img,
#three:checked ~ .tabs #three-tab img,
#four:checked ~ .tabs #four-tab img,
#five:checked ~ .tabs #five-tab img,
#six:checked ~ .tabs #six-tab img {
  filter: initial;
}

#two:checked ~ .tabs #two-tab p,
#three:checked ~ .tabs #three-tab p,
#four:checked ~ .tabs #four-tab p,
#five:checked ~ .tabs #five-tab p {
  color: #fff;
}

#one:checked ~ .tabs #one-tab {
  background: #3a3cc6;
  color: white;
  border-radius: 15px 0px 25px 25px;
  height: 125px;
}

#six:checked ~ .tabs #six-tab {
  background: #3a3cc6;
  color: white;
  border-radius: 0px 15px 25px 25px;
  height: 125px;
}

#one:checked ~ .tabs #one-tab {
  background: #3a3cc6;
  color: white;
  border-radius: 15px 0px 25px 25px;
  height: 125px;
}

/* my_corner style start */
.my_corner {
  margin: 90px 0px 50px;
}

.mt-25 {
  margin-top: 25px;
}

.card_text {
  position: absolute;
  bottom: 20px;
  color: white;
  text-align: left;
  padding: 0px 20px;
}

.card_text h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 0px;
}

.card_text p {
  color: white;
}

.my_corner_card_1 {
  position: relative;
}

.my_corner_card_2 {
  border-radius: 25px;
  position: relative;
}

.card_text2 {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 0px 20px;
  width: 100%;
}

.my_corner_card_2 a {
  padding: 10px 20px;
  background-color: #ff0000;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.my_corner_card_2 img {
  border-radius: 25px;
}

/* testimonial style start */
.testimonial {
  height: 650px;
  background-color: white;
}

.review_box {
  margin-top: -100px;
}

.testimonial_heading {
  display: flex;
  justify-content: center;
  padding: 75px 0px 50px;
}

.testimonial_heading img {
  margin-right: 15px;
  min-width: 50px;
}

.testimonial_heading h2 {
  font-size: 45px;
  color: #0a0a6d;
  font-weight: 600;
}

.review_box_alignment {
  display: flex;
  justify-content: space-between;
}

.white_box {
  height: 250px;
  background-color: white;
}

.blue_box {
  height: 250px;
  background-color: #3a3cc6;
}

.testimonial_box1 {
  background: #ffffff;
  box-shadow: 0px 20px 52px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 50px 75px;
  text-align: center;
  position: relative;
  height: 200px;
  margin-right: -10px;
}

.testimonial_box2 {
  background: #ffffff;
  box-shadow: 0px 20px 52px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 50px 75px;
  text-align: center;
  position: relative;
  height: 200px;

  margin-left: -10px;
}

.testimonial_box_blue {
  background: #0a0a6d;
  box-shadow: 0px 20px 52px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 50px 75px;
  text-align: center;
  position: relative;
  color: white;
  height: 200px;
  margin-top: -50px;
  z-index: 3;
}

.testimonial_box_blue p {
  color: white;
}

.testimonial_box p {
  margin: 0px;
}

.testimonial_box1 .icon_shape {
  position: absolute;
  bottom: -15px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #c1c1c1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_box2 .icon_shape {
  position: absolute;
  bottom: -15px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #c1c1c1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial_box_blue .icon_shape {
  position: absolute;
  bottom: -15px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #c1c1c1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Style start */
.footer {
  padding: 75px 100px 30px;
  background-color: #09096d;
}

.footer p {
  color: white;
  margin: 20px 0px 0px;
  text-align: center;
}

.form_box {
  border: 1px solid #d9d9d9;
  padding: 28px;
  border-radius: 10px;
  margin-bottom: 50px;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_box h4 {
  color: white;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
}

.from_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form_ctr {
  width: 47%;
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
}

.form_ctr:focus {
  outline: none;
}

.form_btn {
  width: 100%;
  height: 40px;
  background-color: #6365e3;
  border: none;
  border-radius: 5px;

  color: white;
}

.from_submit {
  margin-top: 30px;
}

.from_submit p {
  margin: 0px;
  font-size: 14px;
  margin-top: 5px;
}

.footer_list {
  display: flex;
  justify-content: space-between;
}

.footer_logo {
  width: 200px;
  height: 100px;
  margin-bottom: 50px;
}

.about_list {
  color: white;
}

.about_list h6 {
  font-weight: 600;
}

.about_list ul {
  padding: 0px;
}

.about_list ul li {
  list-style: none;
  font-size: 14px;
  line-height: 34px;
  color: #00a6ff;
}

.contact_list {
  color: white;
}

.contact_list h6 {
  font-weight: 600;
}

.contact_list ul {
  padding: 0px;
}

.contact_list ul li {
  list-style: none;
  font-size: 14px;
  line-height: 34px;
  color: #00a6ff;
}

.form_width {
  width: 47%;
}

.form_width label {
  color: white;
  font-weight: 500;
}

.form_ctr {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  font-size: 13px;
}

.icon_list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.footer_icon_list {
  color: white;
}

.footer_icon_list h6 {
  font-weight: 600;
}

.icon_shape_footer {
  width: 40px;
  height: 36px;
  border-radius: 50px;
  background-color: #c1c1c1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.icon_shape_footer:hover {
  background-color: #6365e3;
}

.footer_text {
  width: 70%;
}

/* mrinmoy  */
.long_card {
  box-shadow: 14px 23px 97px rgba(0, 0, 0, 0.08);
  padding: 42px 0;
  border-radius: 20px;
}

.bg_lifeline {
  background-image: url("/images/lifeline.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.creator_card {
  padding: 0 50px;
}
.creator_cards h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #0a0a6d;
}
.creator_cards {
  max-width: 700px;
  margin: auto;
}
.creator_cards2 {
  max-width: 600px;
}
.creator_cards3 {
  max-width: 500px;
}

/* Responsive style start */

@media only screen and (max-width: 1023px) {
  .store_logo img {
    width: 100px;
  }

  .tab {
    padding: 20px 12px 10px;
  }

  .green_zone_heading h2 {
    font-size: 28px;
  }

  .Reminder_box_heading img {
    min-width: 30px;
    height: 38px;
  }

  .Reminder_box_heading h2 {
    font-size: 28px;
  }

  .shop_box_heading {
    padding: 0px;
  }

  .shop_box_heading img {
    min-width: 30px;
    height: 38px;
  }

  .shop_box_heading h2 {
    font-size: 28px;
  }

  .about_heading {
    padding: 0px;
    justify-content: center;
  }

  .about_heading img {
    min-width: 30px;
    height: 38px;
  }

  .about_heading h2 {
    font-size: 28px;
  }

  .card1 {
    margin-bottom: 20px;
  }

  .card2 {
    margin-bottom: 28px;
  }

  .about_text h2 {
    font-size: 32px;
  }

  .about_section h3 {
    font-size: 32px;
    color: #0a0a6d;
    font-weight: 600;
  }

  .Creators_section h2 {
    font-size: 28px;
  }

  .testimonial_heading {
    padding: 50px 0px;
  }

  .testimonial_heading img {
    min-width: 30px;
    height: 38px;
  }

  .testimonial_heading h2 {
    font-size: 28px;
  }

  .testimonial {
    height: 100%;
  }

  .testimonial_box1 {
    margin: 0px 0px 50px 0px;
  }

  .testimonial_box_blue {
    margin: 0px 0px 50px 0px;
  }

  .testimonial_box2 {
    margin: 0px 0px 50px 0px;
  }

  .icon_shape_res {
    margin: 0 auto;
  }

  .footer {
    padding: 15px 15px;
  }

  .footer_icon_list {
    margin-bottom: 28px;
  }

  .footer_icon_list h6 {
    margin-bottom: 20px;
  }

  .footer_text {
    width: 100%;
  }

  .reminder {
    margin-bottom: 28px;
  }

  .review_box_alignment {
    flex-wrap: wrap;
  }

  #one:checked ~ .panels #one-panel,
  #two:checked ~ .panels #two-panel,
  #three:checked ~ .panels #three-panel,
  #four:checked ~ .panels #four-panel,
  #five:checked ~ .panels #five-panel,
  #six:checked ~ .panels #six-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .creator_card {
    padding: 0;
  }
}

@media (min-width: 993px) {
  .img_trans_x {
    transform: scale(1.3) translateX(50px);
  }
  .img_trans_x_opp {
    transform: scale(1.1) translateX(-40px);
  }
  .Reminder_box_heading {
    padding-top: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .review_box_alignment {
    flex-wrap: nowrap;
  }
}

@media (min-width: 980px) and (max-width: 1023px) {
  .review_box_alignment {
    flex-wrap: nowrap;
  }
}
@media only screen and (max-width: 799px) {
  .my_corner_card_2 {
    margin-top: 10px;
  }
  .my_corner_card_2 button {
    font-size: 14px;
    padding: 10px;
  }
  .panels {
    width: 25%;
    padding: 20px 10px;
  }
  .panel-title {
    font-size: 1.2rem;
  }
  .tabs {
    width: 75%;
  }
}
@media only screen and (max-width: 596px) {
  .warpper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .panels {
    width: 100%;
  }
  .tabs {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
